.myGarage{
    font-size: 40px;
    text-decoration-line: underline;
}
.garageOptions{
    padding: 10px;
    border: 2px solid #85A582;
    border-top: cornflowerblue 0.4rem solid;
}

.frame{
    padding-left: 10px;
    padding-top: 40px;
}

.button-rounded{
    margin-left: 30px;
    margin-bottom: 10px;
    paddingTop: 10px;
    border-radius: 50px;
    border: black 2px solid;
    color: black;
}

.addItems{
    font-style: oblique;
    border: 1px solid #85A582 ;
    margin-top: 20px;
    padding: 5px;
}

